<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>BeerSelection</servlet-name>
        <servlet-class>controler.BeerSelection</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BeerSelection</servlet-name>
        <url-pattern>/selection</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Validation</servlet-name>
        <servlet-class>controler.Validation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validation</servlet-name>
        <url-pattern>/validation</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AgeFilter</filter-name>
        <filter-class>controler.AgeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AgeFilter</filter-name>
        <url-pattern>/validation</url-pattern>
    </filter-mapping>

</web-app>